@import "./utils.scss";

.PostItem {
  padding-top: 3rem;
  padding-bottom: 3rem;

  // 맨 위 포스트는 padding-top을 설정하지 않는다.
  &:first-child {
    padding-top: 0;
  }

  & + & {
    border-top: 1px solid nth($gray, 3);
  }

  .title {
    font-size: 2rem;
    font-weight: bold;

    &:hover {
      color: nth($gray, 7);
    }
  }

  p {
    margin-top: 2rem;
  }
}
