@import "./utils.scss";

.PostViewer {
  margin-left: 1rem;
  margin-top: 4rem;

  .postHead {
    border-bottom: 1px solid nth($gray, 3);
    padding-bottom: 3rem;
    margin-bottom: 3rem;

    h1 {
      font-size: 3rem;
      line-height: 1.5;
      margin: 0;
      margin-bottom: 1rem;
    }
  }

  .postContent {
    font-size: 1rem;
    color: nth($gray, 9);
  }
}
