.Responsive {
  padding-left: 1rem;
  padding-right: 1rem;
  width: 1024px;
  margin: auto; // 중앙 정렬

  // 브라우저의 크기에 따라 가로 크기 변경
  @media (max-width: 1024px) {
    width: 768px;
  }
  @media (max-width: 768px) {
    width: 100%;
  }
}
